.container{
	display: flex;
	border:1px solid black;
	width:1000px;
}

.container div{
	/*flex-grow: 0; #Default one*/
	/*width:100px;*/
	flex-grow: 0;

}

.container div:nth-child(2){
	flex-grow:3;
	/*More flex-grow the element will get more ratio or say space*/
}